h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    color: #333;
}
table{ 
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #022b1d;
    padding: 8px;
    text-align: left;
    color: rgb(0, 0, 0);
}
th{
    background-color: #4d53fc ;
    color: black;
}
tr
{
    background-color: #b6bcfd;
    color: black;
}