p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    color: rgb(20, 198, 243);
}
.parrafotitulo{
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    color: rgb(84, 50, 236);
}
